:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 112.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 31.25%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 25%; } }

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2); }

body {
  display: grid;
  grid-template-columns: 15vw 70vw 15vw;
  grid-template-rows: 10vh 80vh 10vh;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom right, rgba(13, 180, 231, 0.6), rgba(197, 238, 13, 0.6)); }

.view-history {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  background-color: #fafafa;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(10, 1fr);
  row-gap: 5rem;
  animation: history 2s cubic-bezier(0.06, 0.09, 0.94, 0.06); }
  @media only screen and (max-width: 100em) {
    .view-history {
      grid-template-columns: repeat(8, 1fr); } }
  @media only screen and (max-width: 87.5em) {
    .view-history {
      grid-template-columns: repeat(6, 1fr); } }
  @media only screen and (max-width: 62.5em) {
    .view-history {
      grid-template-columns: repeat(5, 1fr); } }
  @media only screen and (max-width: 56.25em) {
    .view-history {
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (max-width: 43.75em) {
    .view-history {
      grid-template-columns: repeat(3, 1fr); } }

#historyDiv {
  display: none; }

@keyframes history {
  0% {
    width: 0; }
  100% {
    width: 100vw; } }

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  display: none;
  cursor: pointer; }

.close:hover {
  opacity: 1; }

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333; }

.close:before {
  transform: rotate(45deg); }

.close:after {
  transform: rotate(-45deg); }

.show-result {
  height: 100vh;
  width: 100vw;
  z-index: 10;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: repeat(4, 25vh);
  grid-template-columns: 20vw 60vw 20vw; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .show-result {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }

.gacha-item {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem; }
  @media only screen and (max-width: 75em) {
    .gacha-item {
      grid-column: 1 / -1; } }
  @media only screen and (max-width: 56.25em) {
    .gacha-item {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (max-width: 50em) {
    .gacha-item {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(3, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .gacha-item {
      grid-row: 1 / -1; } }
  @media only screen and (max-width: 25em) {
    .gacha-item {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .gacha-item__result {
      width: 100%; } }

.loading {
  width: 5%;
  grid-row: 2 / 4;
  grid-column: 2 / 3;
  justify-self: center;
  align-self: center;
  animation: load 2s steps(60) infinite; }

@keyframes load {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.any-key {
  font-size: 3rem;
  color: white;
  text-align: center;
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  z-index: 10; }
  @media only screen and (max-width: 37.5em) {
    .any-key {
      align-self: end; } }

.container {
  width: 100%;
  height: 100%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/EW66ob8WAAAHucn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  margin: 0 auto;
  grid-template-rows: 15vh 1fr 15vh;
  grid-template-columns: repeat(2, 1fr);
  filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3); }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .container {
      filter: none;
      background-color: transparent; } }
  @media only screen and (max-width: 75em) {
    .container {
      grid-column: 1 / -1; } }
  .container::before {
    content: "";
    width: 100%;
    height: 100%;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/EW66oaJXsAA72Tj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1; }
  .container::after {
    content: "";
    width: 100%;
    height: 100%;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/EW66oZiXkAANRjU.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1; }

@keyframes bg {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes bg-inverse {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes index {
  0% {
    z-index: -1; }
  100% {
    z-index: 1; } }

.history {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: center;
  align-self: center; }
  @media only screen and (max-width: 56.25em) {
    .history {
      grid-column: 2 / 3; } }
  .history__btn {
    background: none;
    color: #303030;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    border: 2px solid #303030;
    border-radius: 8px;
    cursor: pointer; }
    .history__btn:focus {
      outline: none; }

.statistics {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  font-size: 2.5rem;
  color: white;
  padding: 2rem;
  z-index: 3; }
  .statistics__spent {
    grid-column: 1 / 2; }
    .statistics__spent img {
      width: 2.5rem; }
  .statistics__value {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    justify-items: center; }
    .statistics__value .statistics__value--change {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      font-size: 1.8rem;
      align-self: start; }

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: inherit;
  letter-spacing: 1px; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

.select-selected {
  background-color: SandyBrown; }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent; }

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px; }

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer; }

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: SandyBrown;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

.heading {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: center;
  color: white;
  font-size: 4rem;
  z-index: 2;
  text-align: center; }

.results {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  font-size: 4rem;
  justify-self: center;
  align-self: center;
  color: white;
  z-index: 2; }

.open1 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  grid-template-rows: 0.5fr 1fr;
  display: grid;
  justify-items: center;
  align-items: center;
  z-index: 2; }

.open1__price {
  grid-row: 1 / 2;
  align-self: end;
  font-size: 3rem;
  color: white;
  display: block; }

.open1__price img {
  width: 3rem;
  margin-right: 1rem; }

.open1__btn {
  height: 7.5rem;
  width: 24rem;
  grid-row: 2 / 3;
  font-family: inherit;
  font-weight: 500;
  color: white;
  font-size: 3rem;
  display: block;
  border: none;
  background-image: linear-gradient(to right, rgba(255, 8, 181, 0.9), 15%, rgba(143, 5, 255, 0.9), 75%, rgba(23, 0, 43, 0.9)), url(../img/shapes-transparent-background-23.png);
  background-size: cover;
  background-position: center;
  clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
  cursor: pointer; }

.open1__btn:active {
  transform: translateY(3px) scale(1.01); }

.open1__btn:focus {
  outline: none; }

.open10 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  grid-template-rows: 0.5fr 1fr;
  display: grid;
  justify-items: center;
  align-items: center;
  z-index: 2; }

.open10__price {
  grid-row: 1 / 2;
  align-self: end;
  font-size: 3rem;
  color: #ff3c3c;
  display: block; }

.open10__price img {
  width: 3rem;
  margin-right: 1rem; }

.open10__price--deleted {
  font-size: 2rem;
  color: grey; }

.open10__btn {
  height: 7.5rem;
  width: 24rem;
  grid-row: 2 / 3;
  font-family: inherit;
  font-weight: 500;
  color: black;
  font-size: 3rem;
  display: block;
  border: none;
  background-image: linear-gradient(to right, rgba(255, 224, 46, 0.9), 15%, rgba(255, 234, 41, 0.9)), url(../img/shapes-transparent-background-23.png);
  background-size: cover;
  background-position: center;
  clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
  cursor: pointer; }

.open10__btn:active {
  transform: translateY(3px) scale(1.01); }
